{% extends '../base.html' %}

{% block title %}All movies{% endblock %}

{% block content %}
<main class="main"><div style=" padding: 24px 24px; background:  #1C1C1C; background-size: cover; background-attachment: fixed; background-position: center;">
    <div class="top-ten">
        <div class="container" style="color: rgb(255, 255, 255);">
            <h2 class="mt-5 mb-5" style="color: rgb(255, 255, 255);">All movies</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="background:  #000000">
                        <div class="card-body" style="background: #1C1C1C;">
                            <h3>Search</h3>
                            <form class="mb-4" action="{% url 'allMovies' %}">
                                <div class="row">
                                    <div class="col-9">
                                        <input type="search" name="search" class="form-control" placeholder="Film name, description">
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-light"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </div>
                            </form>
                            <h3>Genres</h3>
                            <ul>
                                <li><a href="{% url 'allMovies' %}" class="text-light">All</a></li>
                                {% for genre in genres %}
                                <li><a href="{% url 'filterMovies' slug=genre.slug %}" class="text-light">{{ genre.genreName }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {% for movie in movies %}
                    <div class="card mb-4" style="background:  #000000">
                        <div class="card-body" style="background: #1C1C1C; ">
                            <h2>{{ movie.movieName }}</h2>
                            <a href="{% url 'movieDetail' pk=movie.pk %}" class="btn btn-outline-primary">Watch</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div></main>
{% endblock %}