{% extends '../base.html' %}

{% block title %}Top movies{% endblock %}

{% block content %}
<main class="main"> <div style=" padding: 24px 24px; background:  #1C1C1C;; background-size: cover; background-attachment: fixed; background-position: center;">
    <div class="recommended mt-5 mb-5">
        <div class="container" style="btn btn-light">
            {% for m in movie %}
            {% if m.isRecommended %}
            <div class="card" style="background: #000">
                <div class="card-body"  style=" background-color:  #1C1C1C; color: #fff;">
                    <h2>{{ m.movieName }}</h2>
                    <h3>Genre: {{ m.genre.genreName }}</h3>
                    <p>Description: {{ m.description }}</p>
                    <a href="{% url 'movieDetail' pk=m.pk %}" class="btn btn-primary">Watch</a>
                </div>
            </div>
            {% else %}
            <h1 style="color: #fff;">Nothing</h1>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="top-ten">
        <div class="container" style="btn btn-light">
            <h2 style="color: #ffffff;">Top 10 movies</h2>
            <div class="owl-carousel owl-theme" style="color: #fff;">
                {% for m in movies %}
                {% if m.isTopTen %}
                <div class="item">
                    <div class="card" style="background: #000000;">
                        <div class="card-body" style="background: #1C1C1C;">
                            <h2>{{ m.movieName }}</h2>
                            <a href="{% url 'movieDetail' pk=m.pk %}" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <h1>Nothing</h1>
                {% endif %}
                {% endfor %}
            </div>

            <div class="mt-5 mb-5 text-center">
                <a href="#" class="btn btn-primary">See all</a>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}