{% extends '../base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<main class="main">
    <div style=" padding: 24px 24px; background:  #1C1C1C; background-size: cover; background-attachment: fixed; background-position: center;">
    <div class="container mt-5 mb-5" style="color: #fff;">
        <div class="card" style="background: #1C1C1C;">
            <div class="card-body">
                <h1 style="color: #fff;">Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}